@keyframes avatar {
  0% {
    opacity: 0;
    width: 35rem;
  }
  100% {
    opacity: 1;
  }
}
@keyframes header-pc {
  0% {
    letter-spacing: 6rem;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes header-ntb {
  0% {
    letter-spacing: 5rem;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  overflow-x: hidden;
  padding: 3rem;
}
@media only screen and (max-width: 78em) {
  body {
    padding: 2rem;
  }
}
@media only screen and (max-width: 62.5em) {
  body {
    padding: 1rem;
  }
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 2rem;
}

h5, p {
  font-size: 1.6rem;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

img {
  pointer-events: none;
}

.paragraph {
  font-size: 2rem;
}

.color-primary {
  color: #3d5a80 !important;
}

.background-primary {
  background: #3d5a80 !important;
}

.background-secondary {
  background: #ee6c4d !important;
}

.background-light {
  background: #effeff !important;
}

.background-light-2 {
  background: #98c1d9 !important;
}

::selection {
  color: #fff;
  background: #98c1d9;
}

/* width */
::-webkit-scrollbar {
  width: 1.5rem;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #effeff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #98c1d9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3d5a80;
}

.btn {
  text-decoration: none;
  outline: none;
  border: none;
  width: 12rem;
  height: 4rem;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 2rem rgba(36, 36, 36, 0.2);
  cursor: pointer;
  font-size: 1.6rem;
  transition: all 0.2s;
  text-align: center;
  display: grid;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 10;
  text-transform: uppercase;
}
.btn__primary, .btn__secondary {
  color: white;
}
.btn__primary--light, .btn__primary--img, .btn__secondary--light, .btn__secondary--img {
  box-shadow: none;
  background: #fff;
}
.btn__primary--light:hover, .btn__primary--img:hover, .btn__secondary--light:hover, .btn__secondary--img:hover {
  color: white;
  box-shadow: 0.5rem 0.5rem 2rem rgba(36, 36, 36, 0.2);
}
@media only screen and (max-width: 37.5em) {
  .btn__primary--light, .btn__primary--img, .btn__secondary--light, .btn__secondary--img {
    height: 3rem;
    font-size: 1.6rem;
    box-shadow: 0.5rem 0.5rem 2rem rgba(36, 36, 36, 0.2);
  }
}
.btn__primary--img img, .btn__secondary--img img {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: invert(100%);
  z-index: -1;
}
@media only screen and (max-width: 37.5em) {
  .btn__primary--img, .btn__secondary--img {
    height: 3rem;
    font-size: 1.6rem;
    box-shadow: 0.5rem 0.5rem 2rem rgba(36, 36, 36, 0.2);
    left: -20%;
  }
}
@media only screen and (max-width: 27.5em) {
  .btn__primary--img, .btn__secondary--img {
    left: -45%;
    top: -0.5rem;
  }
}
.btn__primary {
  background: #3d5a80;
}
.btn__primary--light, .btn__primary--img {
  border: 2px solid #3d5a80;
  color: #3d5a80;
}
.btn__primary--light:hover, .btn__primary--img:hover {
  background: #3d5a80;
}
.btn__primary--light:hover {
  color: #fff;
}
.btn__primary--img:hover {
  color: transparent;
  border: 2px solid transparent;
}
.btn__secondary {
  background: #ee6c4d;
}
.btn__secondary--light {
  border: 2px solid #ee6c4d;
  color: #ee6c4d;
}
.btn__secondary--light:hover {
  background: #ee6c4d;
}
.btn__fb:hover {
  background: #4267b2;
}
.btn__ig {
  background: radial-gradient(circle, rgba(254, 218, 117, 0) 0%, rgba(250, 126, 30, 0) 20%, rgba(214, 41, 118, 0) 40%, rgba(150, 47, 191, 0) 60%, rgba(79, 91, 213, 0) 80%);
}
.btn__ig:hover {
  background: radial-gradient(circle, rgb(254, 218, 117) 0%, rgb(250, 126, 30) 20%, rgb(214, 41, 118) 40%, rgb(150, 47, 191) 60%, rgb(79, 91, 213) 80%);
}
.btn__github:hover {
  background: #24292f;
}
.btn__linkedin:hover {
  background: #0a66c2;
}
.btn__close {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: #fff;
  border: 2px solid #ee6c4d;
}
.btn__close:hover .btn__close--img {
  width: 100%;
}
.btn__close--img {
  transition: all 0.2s;
  margin: auto;
  width: 80%;
  filter: invert(51%) sepia(86%) saturate(1893%) hue-rotate(332deg) brightness(101%) contrast(87%);
}
.btn__footer {
  width: 5rem;
  height: 5rem;
  display: grid;
  justify-content: center;
  align-items: center;
  background: #effeff;
}
.btn__footer img {
  width: 100%;
}

.img__avatar {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  width: 25rem;
  animation: avatar 1s;
}
.img__cont {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  position: relative;
  margin: auto;
}
.img__icon {
  width: 5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: invert(100%);
}
.img__icon--lang {
  filter: none;
  transform: translate(0, 0);
  opacity: 0;
  transition: all 0.2s;
}
.img__icon--program {
  filter: none;
  width: 13rem;
  position: relative;
}
@media only screen and (max-width: 85.5em) {
  .img__icon--program {
    width: 8rem;
  }
}

.navbar {
  position: absolute;
  left: 5rem;
  height: 100%;
  width: 20rem;
  z-index: 10;
}
.navbar__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  list-style-type: none;
}
.navbar__anchor {
  text-decoration: none;
  font-size: 3rem;
  text-align: left;
  color: black;
}

.header {
  padding-top: 35rem;
  overflow: hidden;
}
.header__h1, .header__h2 {
  text-transform: uppercase;
  text-align: center;
  color: #effeff;
  animation: header-pc 1s;
  width: 100%;
}
@media only screen and (max-width: 85.5em) {
  .header__h1, .header__h2 {
    animation: header-ntb 1s;
  }
}
.header__h1 {
  transition: all 0.5s;
  letter-spacing: 0.2rem;
  padding-left: 0.2rem;
  font-weight: 200;
}
@media only screen and (max-width: 85.5em) {
  .header__h1 {
    font-size: 6rem;
  }
}
.header__h2 {
  letter-spacing: 4.3rem;
  padding-left: 4.3rem;
  font-weight: 100;
}
@media only screen and (max-width: 85.5em) {
  .header__h2 {
    font-size: 4rem;
    letter-spacing: 3.6rem;
    padding-left: 3.6rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .header__h2 {
    letter-spacing: 1rem;
    padding-left: 1rem;
    font-size: 3rem;
  }
}

.heading {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 100;
  position: relative;
}
@media only screen and (max-width: 37.5em) {
  .heading {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 27.5em) {
  .heading {
    font-size: 2.5rem;
  }
}

.modal__overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 36, 36, 0.7);
  z-index: 20;
  transition: all 0.2s;
}
.modal__cont {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 2rem;
  transition: all 0.2s;
}
.modal__img {
  height: 100%;
  margin: auto;
  display: block;
  border-radius: 2rem;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}
.section__intro {
  background: #3d5a80;
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.section__address {
  background: #effeff;
  height: 75rem;
  padding-top: 5rem;
  margin-top: -5rem;
}
@media only screen and (max-width: 78em) {
  .section__address {
    height: 180rem;
    margin-top: -10rem;
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 62.5em) {
  .section__address {
    height: 180rem;
    margin-top: -5rem;
    justify-content: space-evenly;
  }
}
.section__education {
  background: #ee6c4d;
  height: 80rem;
  margin-top: -1rem;
}
@media only screen and (max-width: 78em) {
  .section__education {
    height: 120rem;
    justify-content: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .section__education {
    height: 105rem;
    justify-content: center;
  }
}
.section__program-skills {
  background: #effeff;
  margin-top: -5rem;
}
.section__projects {
  background: #ee6c4d;
  margin-top: -5rem;
}
@media only screen and (max-width: 78em) {
  .section__projects {
    margin-top: -0.5rem;
  }
}

.wave {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.footer {
  background: #3d5a80;
  margin-top: -0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 10rem;
}
.footer__social {
  display: flex;
  gap: 2rem;
}
.footer p {
  font-size: 3rem;
  color: #effeff;
}

.address {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  transition: all 0.2s;
  z-index: 10;
}
@media only screen and (max-width: 78em) {
  .address {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    height: 75%;
  }
}
.address:hover {
  padding: 0;
  padding-top: 15rem;
}
@media only screen and (max-width: 78em) {
  .address:hover {
    padding-top: 0;
  }
}
.address:hover .address__cont {
  background: #fff;
  width: 40rem;
  box-shadow: 0.5rem 0.5rem 2rem rgba(36, 36, 36, 0.2);
}
@media only screen and (max-width: 78em) {
  .address:hover .address__cont {
    background: #fff;
    width: 50rem;
    height: 40rem;
  }
}
@media only screen and (max-width: 78em) {
  .address:hover .address__cont {
    width: 80vw;
  }
}
.address:hover .address__icon {
  top: -5rem;
  width: 8rem;
  height: 8rem;
}
.address:hover .address__text {
  opacity: 1;
}
.address__header {
  color: #242424;
}
.address__cont {
  width: 10rem;
  height: 40rem;
  border-radius: 2rem;
  position: relative;
  transition: all 0.2s;
}
@media only screen and (max-width: 78em) {
  .address__cont {
    background: #fff;
    width: 50rem;
    margin: auto;
    height: 40rem;
    box-shadow: 0.5rem 0.5rem 2rem rgba(36, 36, 36, 0.2);
  }
}
@media only screen and (max-width: 78em) {
  .address__cont {
    background: #fff;
    width: 80vw;
    height: 40rem;
  }
}
.address__icon {
  position: absolute;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #ee6c4d;
  transition: all 0.2s;
  width: 12rem;
  height: 12rem;
  border: 1px solid #fff;
  top: 65%;
}
@media only screen and (max-width: 78em) {
  .address__icon {
    top: -5rem;
    width: 8rem;
    height: 8rem;
  }
}
.address__text {
  position: absolute;
  left: 3rem;
  top: 8rem;
  opacity: 0;
}
@media only screen and (max-width: 78em) {
  .address__text {
    opacity: 1;
  }
}
.address__text--social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  width: calc(100% - 6rem);
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
}
.address__text--social .btn {
  margin-top: 0.4rem;
  margin-left: 3.8rem;
}
@media only screen and (max-width: 78em) {
  .address__text--social .btn {
    margin-left: 13.8rem;
  }
}
.address__paragraph {
  position: relative;
}
.address__paragraph--email {
  padding-bottom: 5rem;
}
.address__paragraph span {
  transition: all 0.2s;
  position: absolute;
  text-transform: uppercase;
  color: #fff;
  background: #ee6c4d;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: 300;
  z-index: 10;
  box-shadow: 0.5rem 0.5rem 2rem rgba(36, 36, 36, 0.2);
  font-size: 1.6rem;
}
@media only screen and (max-width: 78em) {
  .address__paragraph span {
    left: 0;
  }
}
.address__heading {
  margin-bottom: 5rem;
}
.address__heading--email {
  margin-bottom: 1rem;
}
.address__heading--social {
  margin-bottom: 3rem;
}
.address__heading span {
  position: absolute;
  top: 0.5rem;
  right: -10rem;
}
@media only screen and (max-width: 78em) {
  .address__heading span {
    right: -20rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .address__heading span {
    top: 0.2rem;
    right: -8rem;
  }
}
@media only screen and (max-width: 27.5em) {
  .address__heading span {
    top: 0.2rem;
    right: -2rem;
  }
}

.education {
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}
.education:hover .education__icon {
  background: #ee6c4d;
  transform: translateX(0%);
}
.education:hover .education__icon--schools {
  left: calc(100% - 14rem);
  top: 2rem;
}
@media only screen and (max-width: 78em) {
  .education:hover .education__icon--schools {
    left: calc(100% - 8rem);
    top: 6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .education:hover .education__icon--schools {
    left: calc(100% - 4rem);
    top: 4rem;
  }
}
.education:hover .education__icon--courses {
  left: calc(100% - 14rem);
  top: 2rem;
}
@media only screen and (max-width: 78em) {
  .education:hover .education__icon--courses {
    left: calc(100% - 8rem);
    top: 8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .education:hover .education__icon--courses {
    left: calc(100% - 4rem);
    top: 4rem;
  }
}
.education:hover .education__text {
  border-radius: 2rem;
  background: #fff;
  left: 5rem;
  width: 70rem;
  height: 50rem;
  top: 55%;
}
.education:hover .education__text--schools {
  left: calc(50% - 36rem);
}
.education:hover .education__text--courses {
  left: calc(50% + 36rem);
}
@media only screen and (max-width: 85.5em) {
  .education:hover .education__text {
    width: 40vw;
  }
}
@media only screen and (max-width: 78em) {
  .education:hover .education__text {
    border-radius: 2rem;
    width: 95%;
    height: 50rem;
    left: 50%;
    background: #fff;
  }
  .education:hover .education__text--schools {
    top: 30rem;
  }
  .education:hover .education__text--courses {
    top: 35rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .education:hover .education__text {
    height: 40rem;
  }
}
.education:hover .education__heading,
.education:hover .education__paragraph {
  opacity: 1;
  visibility: visible;
}
.education:hover .education__heading {
  font-size: 4rem;
  padding-bottom: 0.5rem;
}
@media only screen and (max-width: 37.5em) {
  .education:hover .education__heading {
    font-size: 2.5rem;
  }
}
.education:hover .education__paragraph {
  font-size: 1.6rem;
  padding-bottom: 2rem;
}
.education__icon {
  background: #ee6c4d;
  transition: all 0.2s;
  width: 12rem;
  height: 12rem;
  border: 1px solid #fff;
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 78em) {
  .education__icon {
    left: calc(100% - 8rem);
    top: 8rem;
    width: 10rem;
    height: 10rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .education__icon {
    width: 7rem;
    height: 7rem;
  }
}
.education__icon .img__icon {
  filter: invert(100%);
}
.education__icon--schools {
  left: 25%;
}
@media only screen and (max-width: 78em) {
  .education__icon--schools {
    left: calc(100% - 8rem);
    top: 8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .education__icon--schools {
    left: calc(100% - 4rem);
    top: 4rem;
  }
}
.education__icon--courses {
  left: 75%;
}
@media only screen and (max-width: 78em) {
  .education__icon--courses {
    left: calc(100% - 8rem);
    top: 8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .education__icon--courses {
    left: calc(100% - 4rem);
    top: 4rem;
  }
}
.education__text {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
  overflow: hidden;
}
@media only screen and (max-width: 78em) {
  .education__text {
    border-radius: 2rem;
    width: 95%;
    height: 50rem;
    left: 50%;
    background: #fff;
    position: relative;
  }
  .education__text--schools {
    top: 30rem;
  }
  .education__text--courses {
    top: 35rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .education__text {
    height: 40rem;
  }
}
.education__text--schools {
  background: #fff;
}
.education__heading, .education__paragraph {
  opacity: 0;
  visibility: hidden;
}
@media only screen and (max-width: 78em) {
  .education__heading, .education__paragraph {
    opacity: 1;
    visibility: visible;
    padding-bottom: 0.5rem;
  }
}
.education__heading {
  font-size: 0.1rem;
  position: relative;
  padding-left: 3rem;
}
@media only screen and (max-width: 85.5em) {
  .education__heading {
    font-size: 4rem;
    padding-bottom: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .education__heading {
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }
}
.education__heading span {
  position: absolute;
  top: 0.5rem;
  left: 35rem;
}
@media only screen and (max-width: 78em) {
  .education__heading span {
    top: 0rem;
    left: auto;
    right: 5rem;
  }
}
.education__heading:first-child {
  margin-top: 2rem;
}
.education__heading .education__paragraph {
  text-transform: none;
  font-weight: 400;
}
@media only screen and (max-width: 85.5em) {
  .education__heading .education__paragraph {
    font-size: 1.6rem;
  }
}
.education__paragraph {
  font-size: 0.1rem;
}

.work {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  width: 100%;
  height: 70rem;
  position: absolute;
  bottom: 0;
  margin: auto;
  z-index: 11;
}
@media only screen and (max-width: 85.5em) {
  .work {
    grid-template-columns: 1fr;
    height: 240rem;
  }
}
.work__header {
  color: #242424;
  letter-spacing: 1rem;
}
.work__cont {
  width: 100%;
  height: 70rem;
  display: grid;
  justify-self: center;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 85.5em) {
  .work__cont {
    height: 50rem;
  }
}
.work__cont:hover .work__img {
  left: -20%;
  width: 80rem;
  opacity: 0;
}
@media only screen and (max-width: 85.5em) {
  .work__cont:hover .work__img {
    left: 0;
    opacity: 1;
    width: 20rem;
  }
}
.work__cont:hover .work__img--1 {
  left: -40%;
}
@media only screen and (max-width: 85.5em) {
  .work__cont:hover .work__img--1 {
    left: 0;
    width: 20rem;
  }
}
.work__cont:hover .work__img--2 {
  left: -40%;
}
@media only screen and (max-width: 85.5em) {
  .work__cont:hover .work__img--2 {
    left: 0;
    width: 35rem;
  }
}
.work__cont:hover .work__img--3 {
  left: 10%;
}
@media only screen and (max-width: 85.5em) {
  .work__cont:hover .work__img--3 {
    left: 0;
    width: 25rem;
  }
}
.work__cont:hover .work__years {
  font-size: 4rem;
  background: #3d5a80;
  color: #fff;
  top: 5rem;
}
.work__cont:hover .work__info {
  width: 100%;
  height: 100%;
  opacity: 1;
  border: 0.5rem solid #ee6c4d;
}
@media only screen and (max-width: 85.5em) {
  .work__cont:hover .work__info {
    border: none;
    width: 95%;
  }
}
.work__years {
  top: 0;
  left: 2rem;
  transition: all 0.2s;
  padding: 2rem 3rem;
  color: #242424;
  border-radius: 1rem;
  display: block;
  position: absolute;
  z-index: 10;
  background: #fff;
  border: 2px solid #3d5a80;
}
@media only screen and (max-width: 85.5em) {
  .work__years {
    left: calc(100vw - 35rem);
    font-size: 4rem;
    background: #3d5a80;
    color: #fff;
    top: 5rem;
  }
}
.work__info {
  transition: all 0.2s;
  position: absolute;
  width: 5%;
  background: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10rem;
  border-radius: 2rem;
  opacity: 0;
}
@media only screen and (max-width: 85.5em) {
  .work__info {
    opacity: 1;
    width: 95%;
    height: 100%;
  }
}
.work__img {
  position: absolute;
  transition: all 0.2s;
  left: 0;
  bottom: 0;
}
@media only screen and (max-width: 85.5em) {
  .work__img {
    z-index: 12;
  }
}
.work__img--1 {
  width: 30rem;
  bottom: -12rem;
}
@media only screen and (max-width: 85.5em) {
  .work__img--1 {
    width: 20rem;
    bottom: -12rem;
  }
}
.work__img--2 {
  width: 55rem;
  left: 0;
  transform: translateX(-30%);
}
@media only screen and (max-width: 85.5em) {
  .work__img--2 {
    width: 35rem;
  }
}
.work__img--3 {
  width: 40rem;
}
@media only screen and (max-width: 85.5em) {
  .work__img--3 {
    width: 25rem;
  }
}
.work__name {
  padding: 10rem 0 0.5rem 5rem;
  text-align: left;
}
.work__place {
  padding-left: 4rem;
}
.work__description {
  text-align: justify;
  padding: 2rem;
}

.skills {
  width: 100%;
  height: 85rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 30rem;
}
@media only screen and (max-width: 78em) {
  .skills {
    grid-template-columns: repeat(2, 1fr);
    height: 120rem;
    padding-top: 15rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .skills {
    grid-template-columns: 1fr;
    height: 200rem;
    padding-top: 15rem;
  }
}
.skills__cont {
  height: 100%;
}
.skills__header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10rem;
  color: #fff;
}
@media only screen and (max-width: 78em) {
  .skills__header {
    top: 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .skills__header {
    width: 90%;
  }
}
.skills__skill {
  position: relative;
  width: 90%;
  margin: auto;
  height: 10rem;
  transition: all 0.2s;
  overflow: hidden;
}
@media only screen and (max-width: 78em) {
  .skills__skill .hidden {
    visibility: visible !important;
    text-align: right;
    opacity: 1;
    color: #242424;
    right: 0;
    left: auto;
    transform: translate(0, -50%);
    padding-left: 0;
    padding-right: 1rem;
    width: 50%;
  }
}
@media only screen and (max-width: 78em) {
  .skills__skill {
    background: linear-gradient(75deg, #ee6c4d 0%, #ee6c4d 40%, #fff 30%);
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: 2px solid #fff;
  }
}
.skills__skill:hover {
  background: #fff;
  border-radius: 1rem;
  overflow: visible;
}
.skills__skill:hover .img__icon--lang {
  opacity: 1;
  width: 5vw;
  left: 87.5%;
  top: -50%;
  border-radius: 50%;
  background: white;
  border: solid 10px white;
  outline: 1px solid #3d5a80;
}
.skills__skill:hover .img__icon--lang-r {
  left: -12.5%;
}
.skills__skill:hover .hidden {
  visibility: visible;
  opacity: 1;
  color: #242424;
}
.skills__skill--header {
  font-weight: 100;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 85.5em) {
  .skills__skill--header {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .skills__skill--header {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .skills__skill--header {
    font-size: 2.5rem;
  }
}
.skills__skill--text {
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 85.5em) {
  .skills__skill--text {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 78em) {
  .skills__skill--text {
    width: 35%;
    text-align: left;
    left: 0;
    transform: translate(0, -50%);
    padding-left: 1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .skills__skill--text {
    font-size: 1.5rem;
  }
}

.program__cont {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: auto;
  margin-top: 5rem;
  grid-gap: 2rem;
}
@media only screen and (max-width: 62.5em) {
  .program__cont {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 37.5em) {
  .program__cont {
    grid-template-columns: repeat(2, 1fr);
  }
}
.program__skill {
  width: 20rem;
  height: 20rem;
  background: #fff;
  border-radius: 50%;
  display: grid;
  align-self: center;
  justify-self: center;
  padding: 2rem;
}
@media only screen and (max-width: 85.5em) {
  .program__skill {
    width: 15rem;
    height: 15rem;
  }
}

.projects__cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5rem;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 78em) {
  .projects__cont {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .projects__cont {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
}
.projects__project {
  display: grid;
  justify-self: center;
  border-radius: 1rem;
  margin: auto;
  align-items: center;
}
.projects__link {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}
.projects__link img {
  width: 100%;
  margin: auto;
  padding: 2rem;
  background: #fff;
  border-radius: 1rem;
}
.projects__header {
  margin-top: 15rem;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
