@keyframes avatar {
  0% {
    opacity: 0;
    width: 35rem;
  }
  100% {
    opacity: 1;
  }
}
@keyframes header {
  0% {
    letter-spacing: 7rem;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.6rem;
}

.btn {
  text-decoration: none;
  outline: none;
  border: none;
  width: 10rem;
  height: 4rem;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 2rem rgba(36, 36, 36, 0.2);
  cursor: pointer;
  font-size: 1.6rem;
  transition: all 0.2s;
}
.btn__primary, .btn__secondary {
  color: white;
}
.btn__primary--light, .btn__secondary--light {
  box-shadow: none;
  background: #fff;
}
.btn__primary--light:hover, .btn__secondary--light:hover {
  color: white;
  box-shadow: 0.5rem 0.5rem 2rem rgba(36, 36, 36, 0.2);
}
.btn__primary {
  background: #3d5a80;
}
.btn__primary--light {
  border: 2px solid #3d5a80;
  color: #3d5a80;
}
.btn__primary--light:hover {
  background: #3d5a80;
}
.btn__secondary {
  background: #ee6c4d;
}
.btn__secondary--light {
  border: 2px solid #ee6c4d;
  color: #ee6c4d;
}
.btn__secondary--light:hover {
  background: #ee6c4d;
}

.img__avatar {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  width: 25rem;
  animation: avatar 1s;
}
.img__cont {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  position: relative;
  margin: auto;
}
.img__icon {
  width: 5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: invert(44%) sepia(65%) saturate(1606%) hue-rotate(335deg) brightness(112%) contrast(87%);
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(264deg) brightness(104%) contrast(106%);
}

.navbar {
  position: absolute;
  left: 5rem;
  height: 100%;
  width: 20rem;
  z-index: 10;
}
.navbar__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  list-style-type: none;
}
.navbar__anchor {
  text-decoration: none;
  font-size: 3rem;
  text-align: left;
  color: black;
}

.section {
  width: 96vw;
  height: 90rem;
  margin: auto;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  margin: left;
}
.section__header {
  background: #3d5a80;
  margin-top: 2vw;
}
.section__address {
  position: relative;
  background: #effeff;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  margin-top: -9rem;
}
.section__work {
  background: #ee6c4d;
  margin-top: -9rem;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}

.address {
  display: flex;
  width: 100%;
  padding: 0 55rem;
  height: 100%;
  justify-content: space-evenly;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s;
}
.address:hover {
  padding: 0;
  padding-top: 15rem;
}
.address:hover .address__cont {
  background: #fff;
  width: 45rem;
  box-shadow: 0.5rem 0.5rem 2rem rgba(36, 36, 36, 0.2);
}
.address:hover .address__icon {
  top: -1rem;
  width: 8rem;
  height: 8rem;
}
.address:hover .address__text {
  opacity: 1;
}
.address__header {
  position: absolute;
  display: inline-block;
  color: #242424 !important;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  top: 15rem;
  left: 50%;
  transform: translateX(-50%);
}
.address__cont {
  width: 10rem;
  height: 40rem;
  border-radius: 2rem;
  position: relative;
  transition: all 0.2s;
  margin-top: 20rem;
}
.address__icon {
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ee6c4d;
  transition: all 0.2s;
  width: 12rem;
  height: 12rem;
}
.address__text {
  position: absolute;
  left: 5rem;
  top: 8rem;
  opacity: 0;
}
.address__paragraph {
  font-size: 2rem;
}
.address__paragraph--email {
  padding-bottom: 5rem;
}
.address__heading {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 5rem;
  position: relative;
}
.address__heading--email {
  margin-bottom: 1rem;
}
.address__heading span {
  position: absolute;
  top: -1rem;
  right: -11rem;
}

.header {
  padding-top: 35rem;
  overflow: hidden;
}
.header__heading, .header__heading--secondary {
  text-transform: uppercase;
  text-align: center;
  color: #effeff;
  animation: header 1s;
}
.header__heading {
  transition: all 0.5s;
  letter-spacing: 0.2rem;
  padding-left: 0.2rem;
  font-weight: 200;
}
.header__heading--secondary {
  letter-spacing: 4.3rem;
  padding-left: 4.3rem;
  font-weight: 100;
}

/*# sourceMappingURL=style.comp.css.map */
