.address {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    transition: all .2s;
    z-index: 10;

    @include respond(ntb) {
        top: 40rem;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        height: 75%;
    }

    &:hover {
        padding: 0;
        padding-top: 15rem;

        @include respond(ntb) {
            padding-top: 0;
        }

        .address__cont {
            background: $color-white;
            width: 40rem;
            box-shadow: .5rem .5rem 2rem rgba($color-dark, .2);

            @include respond(ntb) {
                background: $color-white;
                width: 50rem;
                height: 40rem;
            }

            @include respond(tab-land) {
                width: 80vw;
            }
        }

        .address__icon {
            top: -5rem;
            width: 8rem;
            height: 8rem;
        }

        .address__text {
            opacity: 1;
        }
    }

    &__header {
        color: $color-dark;
    }

    &__cont {
        width: 10rem;
        height: 40rem;
        border-radius: 2rem;
        position: relative;
        transition: all .2s;
        
        @include respond(ntb) {
            background: $color-white;
            width: 50rem;
            margin: auto;
            height: 40rem;
            box-shadow: .5rem .5rem 2rem rgba($color-dark, .2);
        }

        @include respond(tab-land) {
            background: $color-white;
            width: 80vw;
            height: 40rem;
        }
    }

    &__icon {
        position: absolute;
        @include absolute-center-x;
        background: $color-secondary;
        transition: all .2s;
        width: 12rem;
        height: 12rem;
        border: 1px solid $color-white;
        top: 65%;

        @include respond(ntb) {
            top: -5rem;
            width: 8rem;
            height: 8rem;
        }
    }

    &__text {
        position: absolute;
        left: 3rem;
        top: 8rem;
        opacity: 0;

        @include respond(ntb) {
            opacity: 1;
        }

        &--social {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: auto;
            width: calc(100% - 6rem);
            left: 50%;
            transform: translateX(-50%);
            justify-content: space-between;

            .btn {
                margin-top: .4rem;
                margin-left: 3.8rem;

                @include respond(ntb) {
                    margin-left: 13.8rem;
                }
            }
        }
    }

    &__paragraph {
        position: relative;

        &--email {
            padding-bottom: 5rem;
        }

        span {
            transition: all .2s;
            position: absolute;
            text-transform: uppercase;
            color:$color-white;  
            background: $color-secondary;
            padding: 1rem 2rem;
            border-radius: 2rem;
            font-weight: 300;
            z-index: 10;
            box-shadow: .5rem .5rem 2rem rgba($color-dark, .2);
            font-size: $font-size-h5;

            @include respond(ntb) {
                left: 0;
            }
        }
    }

    &__heading {
        margin-bottom: 5rem;

        &--email {
            margin-bottom: 1rem;
        }

        &--social {
            margin-bottom: 3rem;
        }

        span {
            position: absolute;
            top: .5rem;
            right: -10rem;

            @include respond(ntb) {
                right: -20rem;
            }

            @include respond(phone) {
                top: .2rem;
                right: -8rem
            }

            @include respond(mini-phone) {
                top: .2rem;
                right: -2rem
            }
        }
    }
}