.education {

    &__cont {
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 0 80rem;
        top: 15rem;
        @include absolute-center-x;
        justify-content: space-evenly;
        transition: all .2s;

        &:hover {
            padding: 0 10rem;

            .education__icon {
                background: $color-secondary;
                transform: translateX( 0%);

                &--schools {
                    left: calc(100% - 14rem);
                    top: 2rem;
                }

                &--courses {
                    left: calc(100% - 14rem);
                    top: 2rem;
                }

            }

            .education__text {
                border-radius: 2rem;
                background: $color-white;

                &--schools {
                    width: 30vw;
                    height: 40rem;
                    left: 17vw;
                    top: 55%;
                }

                &--courses {
                    width: 60vw;
                    height: 40rem;
                    left: calc(100% - 32vw);
                    top: 55%;
                }
            }

            .education__heading,
            .education__paragraph {
                opacity: 1;
                visibility: visible;
            }

            .education__heading {
                font-size: $font-size-h3;
                padding-bottom: .5rem;
            }

            .education__paragraph {
                font-size: $font-size-h5;
                padding-bottom: 2rem;
            }
        }
    }

    &__header {
        color: $color-white;
        letter-spacing: 1rem;
        top: 30rem;
    }

    &__icon {
        background: $color-secondary;
        transition: all .2s;
        width: 12rem;
        height: 12rem;
        border: 1px solid $color-white;
        z-index: 10;
        position: absolute;
        @include absolute-center;

        .img__icon {
            filter: invert(99%) sepia(0%) saturate(734%) hue-rotate(360deg) brightness(116%) contrast(100%);
        }

        &--schools {
            left: 25%;
        }

        &--courses {
            left: 75%;
        }
    }

    &__text {
        width: 30rem;
        height: 30rem;
        border-radius: 50%;
        @include absolute-center;
        transition: all .2s;
        overflow: hidden;

        &--schools {
            background: $color-white;
        }
    }

    &__heading,
    &__paragraph {
        opacity: 0;
        visibility: hidden;
        padding-left: 3rem;
    }

    &__heading {
        font-size: .1rem;
        position: relative;

        span {
            position: absolute;
            top: .5rem;
            left: 35rem;
        }
        
        &:first-child {
            margin-top: 2rem;
        }
    }

    &__paragraph {
        font-size: .1rem;
    }
}