.header {
    padding-top: 35rem;
    overflow: hidden;

    &__heading,
    &__heading--secondary {
        text-transform: uppercase;
        text-align: center;
        color: $color-light;
        animation: header 1s;

        @include respond(ntb) {
            animation: header-ntb 1s;
        }
    }

    &__heading {
        transition: all .5s;
        letter-spacing: .2rem;
        padding-left: .2rem;
        font-weight: 200;

        @include respond(ntb) {
            font-size: $font-size-h2;
        }

        &--secondary {
            letter-spacing:4.3rem;
            padding-left: 4.3rem;
            font-weight: 100;

            @include respond(ntb) {
                font-size: $font-size-h3;
                letter-spacing:3.6rem;
                padding-left: 3.6rem;
            }
        }
    }
}

.heading {
    font-size: $font-size-h3;
    text-transform: uppercase;
    font-weight: 100;
    position: relative;

    @include respond(phone) {
        font-size: 3rem;
    }

    @include respond(mini-phone) {
        font-size: 2.5rem;
    }
  }