.projects {
    &__cont {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 5rem;
        margin-bottom: 5rem;

    }

    &__project {
        display: grid;
        justify-self: center;
        border-radius: 1rem;
        margin: auto;
        align-items: center;

            img {
                width: 80%;
                margin: auto;
                padding: 2rem;
                background: $color-white;
                border-radius: 1rem;
            }
    }

    &__link {
        display: flex;
        justify-content: center;
    }

    &__header {
        margin-top: 15rem;
        color: $color-white;
    }
}