.projects {
    &__cont {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 5rem;
        margin-bottom: 5rem;

        @include respond(tab-land) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem;
          }

        @include respond(tab-port) {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 2rem;
          }

    }

    &__project {
        display: grid;
        justify-self: center;
        border-radius: 1rem;
        margin: auto;
        align-items: center;
    }

    &__link {
        display: flex;
        justify-content: center;
        width: 80%;
        margin: auto;

        img {
            width: 100%;
            margin: auto;
            padding: 2rem;
            background: $color-white;
            border-radius: 1rem;
        }
    }

    &__header {
        margin-top: 15rem;
        color: $color-white;
    }
}