.program {
    &__cont {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin: auto;
        margin-top: 5rem;
        grid-gap: 2rem;

        @include respond(tab-port) {
            grid-template-columns: repeat(2, 1fr);
          }

    }

    &__skill {
        width: 20rem;
        height: 20rem;
        background: $color-white;
        border-radius: 50%;
        display: grid;
        align-self: center;
        justify-self: center;
        padding: 2rem;

        @include respond(ntb) {
            width: 15rem;
            height: 15rem;
          }
    }
}