.program {
    &__cont {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10rem;
        margin: auto;

    }

    &__skill {
        width: 20rem;
        height: 20rem;
        background: $color-white;
        border-radius: 50%;
        display: grid;
        align-self: center;
        justify-self: center;
    }
}