.work {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    width: 100%;
    height: 70rem;
    position: absolute;
    bottom: 0;
    margin: auto;
    z-index: 11;

    &__header {
        color: $color-dark;
        letter-spacing: 1rem;
    }

    &__cont {
        width: 100%;
        height: 70rem;
        display: grid;
        justify-self: center;
        overflow: hidden;
        position: relative;

        &:hover {

            .work__img {
                left: -20%;
                width: 80rem;
                opacity: 0;

                &--1 {
                    left: -40%;
                }

                &--3 {
                    left: 10%;
                }
            }

            .work__years {
                font-size: $font-size-h3;
                opacity: 1;
                background: $color-primary;
                color: $color-white;
                top: 5rem;
            }

            .work__info {
                width: 100%;
                height: 100%;
                opacity: 1;
                border: .5rem solid $color-secondary;
            }
        }
    }

    &__years {
        top: 0;
        left: 2rem;
        transition: all .2s;
        text-align: left;
        padding: 2rem 3rem;
        color: $color-dark;
        border-radius: 2rem;
        display: block;
        position: absolute;
        z-index: 10;
        background: $color-white;
        border: 2px solid $color-primary;
    }

    &__info {
        transition: all .2s;
        position: absolute;
        width: 5%;
        height: 5%;
        background: $color-white;
        @include absolute-center-x;
        top: 10rem;
        border-radius: 2rem;
        opacity: 0;
    }

    &__img {
        position: absolute;
        transition: all .2s;
        left: 0;
        bottom: 0;

        &--1 {
            width: 30rem;
            bottom: -12rem;
        }

        &--2 {
            width: 55rem;
            left: 0;
            transform: translateX(-30%);
        }

        &--3 {
            width:40rem;
        }
    }

    &__name {
        padding: 10rem 0 .5rem 5rem;
        text-align: left;
    }

    &__place {
        padding-left: 4rem;

    }

    &__description {
        text-align: justify;
        padding: 2rem;
    }
}
