.work {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  width: 100%;
  height: 70rem;
  position: absolute;
  bottom: 0;
  margin: auto;
  z-index: 11;

  @include respond(ntb) {
    grid-template-columns: 1fr;
    height: 240rem;
  }

  &__header {
    color: $color-dark;
    letter-spacing: 1rem;
  }

  &__cont {
    width: 100%;
    height: 70rem;
    display: grid;
    justify-self: center;
    overflow: hidden;
    position: relative;

    @include respond(ntb) {
      height: 50rem;
    }

    &:hover {
      .work__img {
        left: -20%;
        width: 80rem;
        opacity: 0;

        @include respond(ntb) {
            left: 0;
            opacity: 1;
            width: 20rem;
          }

        &--1 {
          left: -40%;

          @include respond(ntb) {
            left: 0;
            width: 20rem;
          }
        }

        &--2 {
            left: -40%;

            @include respond(ntb) {
                left: 0;
                width: 35rem;
              }
        }

        &--3 {
          left: 10%;

          @include respond(ntb) {
            left: 0;
            width: 25rem;
          }
        }
      }

      .work__years {
        font-size: $font-size-h3;
        background: $color-primary;
        color: $color-white;
        top: 5rem;
      }

      .work__info {
        width: 100%;
        height: 100%;
        opacity: 1;
        border: 0.5rem solid $color-secondary;

        @include respond(ntb) {
            border: none;
            width: 95%;
          }
      }
    }
  }

  &__years {
    top: 0;
    left: 2rem;
    transition: all 0.2s;
    padding: 2rem 3rem;
    color: $color-dark;
    border-radius: 1rem;
    display: block;
    position: absolute;
    z-index: 10;
    background: $color-white;
    border: 2px solid $color-primary;

    @include respond(ntb) {
      left: calc(100vw - 35rem);
      font-size: $font-size-h3;
      background: $color-primary;
      color: $color-white;
      top: 5rem;
    }
  }

  &__info {
    transition: all 0.2s;
    position: absolute;
    width: 5%;
    height: 5%;
    background: $color-white;
    @include absolute-center-x;
    top: 10rem;
    border-radius: 2rem;
    opacity: 0;

    @include respond(ntb) {
        opacity: 1;
        width: 95%;
        height: 100%;
      }
  }

  &__img {
    position: absolute;
    transition: all 0.2s;
    left: 0;
    bottom: 0;

    @include respond(ntb) {
        z-index: 12;
      }

    &--1 {
      width: 30rem;
      bottom: -12rem;

      @include respond(ntb) {
        width: 20rem;
        bottom: -12rem;
      }
    }

    &--2 {
      width: 55rem;
      left: 0;
      transform: translateX(-30%);

      @include respond(ntb) {
        width: 35rem;
      }
    }

    &--3 {
      width: 40rem;

      @include respond(ntb) {
        width: 25rem;
      }
    }
  }

  &__name {
    padding: 10rem 0 0.5rem 5rem;
    text-align: left;
  }

  &__place {
    padding-left: 4rem;
  }

  &__description {
    text-align: justify;
    padding: 2rem;
  }
}
