.section {
    width: calc(100vw - 6rem);
    height: 68rem;
    margin: auto;
    margin: left;
    position: relative;

    &__header {
        @include absolute-center-x;
        display: inline-block;
        font-weight: 100;
        text-align: center;
        text-transform: uppercase;
        top: 25rem;
        width: 100vw;
        z-index: 20;

        @include respond(ntb) {
            font-size: $font-size-h3;
        }

        @include respond(phone) {
            font-size: 3rem;
        }
    }

    &__intro {
        background: $color-primary;
        margin-top: 2rem;
        position: relative;
    }

    &__address {
        position: relative;
        background: $color-light;
        height: 80rem;

        @include respond(ntb) {
            height: 200rem;
        }
    }

    &__education {
        background: $color-secondary;
        position: relative;
        height: 90rem;

        @include respond(ntb) {
            height: 135rem;
        }
    }

    &__work {
        background: $color-light;
        height: 145rem;
        position: relative;

        @include respond(ntb) {
            height: 280rem;
        }
    }

    &__skills {
        background: $color-primary;
        height: 85rem;

        @include respond(tab-land) {
            height: 120rem;
        }

        @include respond(tab-port) {
            height: 200rem;
        }
    }

    &__program-skills {
        background: $color-light;
        height: 95rem;
    }

    &__projects {
        background: $color-secondary;
        height: 100rem;
    }
}