.section {
    width: 96vw;
    height: 90rem;
    margin: auto;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    margin: left;

    &__header {
        background: $color-primary;
        margin-top: 2vw;
    }

    &__address {
        position: relative;
        background: $color-light;
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
        margin-top: -9rem;
    }

    &__work {
        background: $color-secondary;
        margin-top: -9rem;
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    }
}