.img {

    &__avatar {
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 10%;
        width: 25rem;
        animation: avatar 1s;
    }

    &__cont {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        position: relative;
        margin: auto;
    }

    &__icon {
        width: 5rem;
        @include absolute-center;
        //filter: invert(44%) sepia(65%) saturate(1606%) hue-rotate(335deg) brightness(112%) contrast(87%);
        filter: $color-filter-white;

        &--lang {
            filter:none;
            transform: translate(0, 0);
            opacity: 0;
            transition: all .2s;
        }

        &--program {
            filter: none;
            width: 13rem;
            position: relative;

            @include respond(ntb) {
                width: 8rem;
              }
        }
    }
}