@mixin absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin absolute-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}