// Colors
$color-primary: #3d5a80;
$color-secondary: #ee6c4d;

$color-light: #effeff;
$color-light-2: #98c1d9;

$color-white: #fff;
$color-dark: #242424;

// Font sizes
$font-size-h1: 8rem;
$font-size-h2: 6rem;
$font-size-h3: 4rem;
$font-size-h4: 2rem;
$font-size-h5: 1.6rem;
$font-size-h6: 1.4rem;
$font-size-p: 1.2rem;
